<section class="section summary-section">
    <h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
    <div class="summary">
        <p align="justify">I'm Vipul Shah.I obsess over the best ways to develop~learn~and~teach software development. I have been developing Android & iOS applications since last 7 years.<p align="justify">I have worked on projects for some of major clients like BMW, American Express, FirstData, Wallmart and Bank of America. I am active member of GDG Mumbai and MadMeetup where I deliver talks on latest Technologies like Firebase, Android & Software architecture patterns. I am also an active contributor on Stack Overflow,I regularly speak at technical events like GDG & Developer Meetups.</p>
    </div><!--//summary-->
</section><!--//section-->