<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
    
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Android/iOS Engineer</h3>
                <div class="time">2018-Present</div>
            </div><!--//upper-row-->
            <div class="company">Backbase,Amsterdam</div>
        </div><!--//meta-->
        <div class="details">
            <p>I am working as an Android and iOS Engineer on some exciting projects.</p>
        </div><!--//details-->
    </div><!--//item-->
    
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Android Engineer</h3>
                <div class="time">2016-2018</div>
            </div><!--//upper-row-->
            <div class="company">Microsoft, Pune/Bengaluru</div>
        </div><!--//meta-->
        <div class="details">
            <p>V1 product team in O365 & Outlook Android.</p>
        </div><!--//details-->
    </div><!--//item-->
    
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Android &amp; iOS Technology Consultant</h3>
                <div class="time">2014-2016</div>
            </div><!--//upper-row-->
            <div class="company">Deloitte Digital,Mumbai</div>
        </div><!--//meta-->
        <div class="details">
            <p>Worked as a Technology consultant in Deloitte Digital. My daily work involved architecting & writing apps for Android & iOS platform.</p>  
            
        </div><!--//details-->
    </div><!--//item-->
    
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Android Engineer</h3>
                <div class="time">2012-2014</div>
            </div><!--//upper-row-->
            <div class="company">Vserv.mobi,Mumbai</div>
        </div><!--//meta-->
        <div class="details">
            <p>Android & iOS Engineer working on Vserv mobile ad SDK</p>  
        </div><!--//details-->
    </div><!--//item-->
    
</section><!--//section-->