<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
    <div class="item">
        <span class="project-title"><a href="#">Outlook Android</a></span> - <span class="project-tagline">I was part of core Android Engineering team at Microsoft Outlook.</span>
    </div>
    <div class="item">
        <span class="project-title"><a href="#">MyBMW</a></span> - <span class="project-tagline">An android app created for BMW users and dealers</span>
    </div>
    <div class="item">
        <span class="project-title"><a href="https://www.vmax.com/wrapper" target="_blank">VMAX AppWraper</a></span> - 
        <span class="project-tagline">Integrate launch & exit ads into your app without having to access the app code and start reaping the benefits of your app monetization immediately.</span>
    </div>
    <div class="item">
        <span class="project-title"><a href="#" target="_blank">Elecom Sound Recorder</a></span> - <span class="project-tagline">Elecom Sound Recorder is an easy to use, flexible and fun audio recorder. Use it to record meetings, personal notes, interviews, funny momments.</span>
    </div>
    <div class="item">
        <span class="project-title"><a href="#" target="_blank">Travellers App</a></span> - <span class="project-tagline">Explore thousands of activities across the world. This Travellers app give you the inside scoop on 150 cities worldwide.</span>
    </div>
    <div class="item">
        <span class="project-title"><a href="#" target="_blank">Android Market For intercom Phone</a></span> - <span class="project-tagline">This application shows List of avaliable softwares for download.User can download those apps and install it.Application works similar like Android Market.But it is only enabled for registered Users.</span>
    </div>
    <div class="item">
        <span class="project-title"><a href="#" target="_blank">Digital USB Weighting Scale</a></span> - <span class="project-tagline">This application allows user to communicate with Weighting Scale Device from Mac App.
            User can select weighting units from application,And application transfers those command to Device,and device displays weight in that particular format.</span>
        </div>
    </section>