<section class="section trainer-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>Android & iOS Trainer</h2>
    <div class="item">
        <span class="project-title"><a href="https://goo.gl/uotRj9">Android Syllabus</a></span> - <span class="project-tagline">Covers Android 8.0 Application Development</span>
    </div>
    <div class="item">
        <span class="project-title"><a href="https://goo.gl/q1mU7C">iOS Syllabus</a></span> - <span class="project-tagline">Covers iOS 11 App Development using Swift 4.0</span>
    </div>
</section>